body{
    background-color: rgb(255, 192, 251);
}
h1{
    text-align:center;
    color: rgb(0, 23, 128);
}
h2{
    text-align:center;
    color: rgb(0, 23, 128);
}
h3{
    text-align: center;
}